*~
*.zip
*.docx
*.swp
*.log
*.aux
*.toc
*.pdf
*.idx
*.ind
*.ilg
*_latexmk 
*.fls 
*.tui 
*.4ct 
*.4tc 
*.html 
*.css 
*.dvi 
*.epub 
*.lg 
*.ncx 
*.xref 
*.tmp 
*.idv 
*.opf
gitrevisioninfo.sty
img/
originais/
original/
capa/
